
<%- include('partials/header') -%>
<%- include('partials/homeNavbar') -%>

<body>

    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
          <h1 class="display-4">BEM VINDO</h1>
          <p class="lead">Abaixo segue os artigos escritos</p>
        </div>
      </div>

   <div class="container">
       <% articles.forEach(article => { %>
        <div class="card mt-2 mb-4">
            <div class="card-header"><%= article.title %></div>
            <div class="card-body"><a href="/<%= article.slug %>" class="btn btn-success">Ler Artigo</a></div>
        </div>

      <% }) %>



      
          <div class="col col-12 d-flex justify-content-end">
            <a  class="mb-3" href="/articles/page/2">Next > </a>
          </div>
         
        </div>
    </div>




</body>

<%- include('partials/footer') -%>